language: node_js

node_js:
  - "8"

cache:
  directories:
    - "node_modules"

script:
  - npm run build

after_success:
  - ls -la dist/

deploy:
  verbose: true
  provider: pages
  local-dir: dist/
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master
