@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 1.7em;
}

@media print {
  #proficiency {
    h3 {
      display: inline-block;
      float: left;
      margin: 0 1rem;
      min-width: 6rem;
    }
  }

  #photo {
    height: 100%;
  }
}

.cv {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: minmax(100px, auto);
  grid-gap: 1em;

  @media print {
    display: block;

    width: initial;
    min-height: initial;
    margin: 0;
    padding: 0;
    border: initial;
    border-radius: initial;
    box-shadow: initial;
    background: initial;

    #experience {
      page-break-before: always;
    }
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto);
    section {
      margin: 2vw;

      @media print {
        margin: 0 auto 2rem;
      }
    }
    h1, h2 {
      text-align: center;
    }
  }
}

#personalInfo {
  padding: 1em;
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100%;

  h2 {
    display: none;
  }

  ul {
    list-style: none;
  }

  li {
    & > :last-of-type {
      padding-right: 2em;
      float: right;
    }
  }

  img {
    max-width: 100%;
  }

  @media screen and (max-width: 640px) {
    img {
      border-radius: 50%;
    }
  }

  @media print {
    display: flex;
  }
}

#about, #education, #experience, #proficiency {
  grid-column: 2/4;
  @media screen and (max-width: 640px) {
    grid-column: 1;
  }
}

@media screen and (max-width: 640px) {
  #personalInfo {
    display: flex;
    grid-column: 1;
    padding: 0;

    img {
      margin: 1em 0;
      max-width: 20vw;
    }

    ul {
      padding: 0 2vw;

      li {
        visibility: collapse;

        @media print {
          visibility: visible;
        }

        & > :last-of-type {
          padding: 0;
        }

        * {
          visibility: visible;
        }
      }
    }
  }
}
